<h2>投稿を編集する</h2>
<%= form_with(model: @blog, local: true, url: blog_path ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :content %>
    <br><%= form.text_area :content %><br>
    <br><%= form.label :image %>
    <br><%= image_tag @blog.image.url, class: "image_tag" %>
    <br><%= form.file_field :image %>
  </div>
  <input type="submit" name="commit" value="投稿を編集する" data-disable-with="投稿を編集中･･･">
<% end %>
<div class="btn-wrapper">
  <button class="btn btn-warning">
    <%= link_to '投稿を削除する', blog_path(@blog.id), method: :delete ,
    data: { confirm: '本当に削除していいですか？' } %>
  </button>
  <button class="btn btn-default">
    <%= link_to '投稿一覧に戻る', blogs_path %>
  </button>
</div>
