<h2>新しく投稿する</h2>
<%= form_with(model: @blog, local: true, url: confirm_blogs_path ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_blogs.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :content %>
    <br><%= form.text_area :content %>
  </div>
  <input type="submit" name="commit" value="投稿" data-disable-with="投稿中･･･">
<% end %>
<div class="btn-wrapper">
  <button class="btn btn-default">
    <%= link_to '投稿一覧に戻る', blogs_path %>
  </button>
</div>
